defaults: &defaults
  app_secret_key: <%= ENV["APP_SECRET_KEY"] %>
  app_name: <%= ENV["APP_NAME"] %>
  app_description: <%= ENV["APP_DESCRIPTION"] %>
  app_domain: <%= ENV["APP_DOMAIN"] %>
  facebook_app_id: <%= ENV["FACEBOOK_APP_ID"] %>
  facebook_app_secret: <%= ENV["FACEBOOK_APP_SECRET"] %>
  google_analytics_id: <%= ENV["GOOGLE_ANALYTICS_ID"] %>

production:
  <<: *defaults

test:
  <<: *defaults

development:
  <<: *defaults
  app_secret_key: <%= ENV["APP_SECRET_KEY"] %>
  app_name: 'BillMe'
  app_description: 'BillMe is a app that lets you bill your friends.'
  app_domain: 'BillMe.dev'
  app_secret_key: 'app_secret_key_here'
  facebook_app_id: 'facebook_app_id_here'
  facebook_app_secret: 'facebook_app_secret_here'
