// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.paper {
	position: relative;
	background: #fafafa;
	padding: 30px;
	margin-bottom: 20px;
	@media #{$small-only} { padding: 10px; }
	@include box-shadow(0 0 50px rgba(0,0,0, .1) inset,
	                    0 1px 5px rgba(0,0,0, .32)
	                    );

	.select-payers {
		position: relative;
		margin-bottom: 12px;
		padding: 4px;

		&::before {
			content: "TO_ ";
			font-size: 28px;
			line-height: 40px;
			position: relative;
			display: inline-block;
			vertical-align: bottom;
			@include opacity(.7);
		}

		> * {
			max-width: 99%;
		}

		.select2-choices {
			border-top: none;
			border-right: none;
			border-left: none;
			background: transparent;
		}
	}

	.from, .to {
		position: relative;
		margin-bottom: 12px;
		padding: 4px;
		font-size: 28px;
		line-height: 40px;

		&::before {
			content: "TO_ ";
			font-size: 28px;
			line-height: 40px;
			position: relative;
			display: inline-block;
			vertical-align: bottom;
			@include opacity(.7);
		}
	}

	.from {
		text-align: right;
		&::before {
			content: "FROM_ ";
		}
	}


	table, thead {
		background: transparent;
		border: none;
		width: 100%;
	}

	th {
	    border-bottom: 1.8px solid #777;
	    font-weight: 800;
	}

	td {
		border-bottom: 1.4px dotted #999;
		position: relative;
	}

	tr.total_row td {
		border-bottom: none;
	}

	.subtotal_c {
		position: absolute;
		width: 300%;
		right: 0;
		top: 0;
		font-weight: 800;
	}

	th, td {
		text-align: right;
		max-width: 12px;
		vertical-align: top;
	}

	th {
		vertical-align: bottom;
	}

	th:first-child, td:first-child {
		text-align: left;
		max-width: auto;
	}

	&.list th:nth-child(2), td:nth-child(2) {
		text-align: left;
		max-width: auto;
	}

	input, .input {
		background-color: transparent;
		border-top: none;
		border-right: none;
		border-left: none;
		@include box-shadow(0 -4px 8px -8px rgba(0, 0, 0, .9) inset);
		margin: 0;
		padding: 2px;
		height: auto;
	}

	label {
		display: inline-block;
	}

	input.unit_price, input.quantity, .input.unit_price, .input.quantity {
		text-align: right;
	}

	textarea.description, .description {
		resize: none;
		display: inline;
		font-style: italic;
		background-color: transparent;
		border: none;
		box-shadow: none;
		font-size: 10px;
		margin: 0;
		height: auto;
		line-height: 10px;
		min-height: 24px;
		overflow: hidden;
		padding: 8px 7px 2px;
	}

	.row_action {
		position: absolute;
		width: 100px;
		right: 0;
		bottom: 0;
		padding: 7px;
		padding-bottom: 0;
	}

	.delete_row_button, .add_row_button {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 24px;
		text-align: center;
		// border: 1px solid rgba(0,0,0, .5);
		// @include border-radius(100px);
		margin-left: 7px;
		@media #{$small-only} { margin-left: 10px; }
		cursor: pointer;
		@include opacity(.5);
		@include transition-property(color, background-color, opacity);
		@include transition-duration(.1s);
		background-color: $white;
		color: $black;

		&:hover {
			@include opacity(1);
			background-color: $black;
			color: $white;
			@media #{$small-only} {
				background-color: $white;
				color: $black;
			}
		}
	}

	.bill_row:last-child {

		.add_row_button {
			display: inline-block;
		}
	}

	.bill_row:only-of-type .delete_row_button {
		display: none;
	}

	.hidden {
		display: none;
	}
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.paper--1 {


}

.paper--2 {
	@include box-shadow(0 0 50px rgba(0,0,0, .1) inset,
	                    0 1px 5px rgba(0,0,0, .32),
	                    10px -10px 0 0 #ededed,
	                    10px -9px 5px 0 rgba(0,0,0, .32),
	                    20px -20px 0 0 #ededed,
	                    20px -19px 5px 0 rgba(0,0,0, .32)
	                    );
}

.paper--3 {
	@include box-shadow(0 0 50px rgba(0,0,0, .1) inset,
	                    0 1px 5px rgba(0,0,0, .32),
	                    10px -10px 0 0 #ededed,
	                    10px -9px 5px 0 rgba(0,0,0, .32),
	                    20px -20px 0 0 #ededed,
	                    20px -19px 5px 0 rgba(0,0,0, .32),
	                    30px -30px 0 0 #ededed,
	                    30px -29px 5px 0 rgba(0,0,0, .32)
	                    );
}

.paper--4 {
	@include box-shadow(0 0 50px rgba(0,0,0, .1) inset,
	                    0 1px 5px rgba(0,0,0, .32),
	                    10px -10px 0 0 #ededed,
	                    10px -9px 5px 0 rgba(0,0,0, .32),
	                    20px -20px 0 0 #ededed,
	                    20px -19px 5px 0 rgba(0,0,0, .32),
	                    30px -30px 0 0 #ededed,
	                    30px -29px 5px 0 rgba(0,0,0, .32),
	                    40px -40px 0 0 #ededed,
	                    40px -39px 5px 0 rgba(0,0,0, .32)
	                    );
}

.paper--5 {
	@include box-shadow(0 0 50px rgba(0,0,0, .1) inset,
	                    0 1px 5px rgba(0,0,0, .32),
	                    10px -10px 0 0 #ededed,
	                    10px -9px 5px 0 rgba(0,0,0, .32),
	                    20px -20px 0 0 #ededed,
	                    20px -19px 5px 0 rgba(0,0,0, .32),
	                    30px -30px 0 0 #ededed,
	                    30px -29px 5px 0 rgba(0,0,0, .32),
	                    40px -40px 0 0 #ededed,
	                    40px -39px 5px 0 rgba(0,0,0, .32)
	                    );
}

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
