// *************************************
//
//   #s2id_payers
//   -> select#payers
//
// *************************************

#s2id_payers {

	.select2-choices .select2-search-field input {
		font-size: 30px;
		height: 62px;
	}

	.select2-search-choice {
		font-style: 20px;
	}

	.select2-search-choice-close {
		left: 3px;
		top: 19px;
	}
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid rgba(0,0,0, .4);
}

.select2-drop-active {
	border: 1px solid rgba(0,0,0, .4);
	// border-top: none;
	border-radius: 4px;
}
