<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="nav tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section content">
        <h1 class="title"><%= @app_name %></h1>
        <div class="top-bar" data-topbar data-options="is_hover: false">
          <section class="top-bar-section">
            <ul>
              <li class="has-dropdown">
                <a href="#">
                  <img src="http://placehold.it/500x500">
                  Hello, User
                </a>
                <ul class="dropdown">
                  <li><a href="#">Dashbord</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </section>
        </div>
      </section>
    </nav>
    <div class="content main-content">
      <aside class="menu left-menu left-off-canvas-menu">
        <ul class="list off-canvas-list">
          <li><label>BillMe</label></li>
          <li><a href="#">Dashbord</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </aside>
      <section class="main-section">
        <%= render 'layouts/alerts' %>

        <%= yield %>
        
      </section>
    </div>

  <a class="exit-off-canvas"></a>

  </div>
</div>





<% parent_layout "base" %>
